body{
    width: 100%;
}

#items01{
    
    padding-left: 35%;
    font-size: 17px;
    margin-top: -2%;
    margin-bottom: -1.5%;
}
/*
#firstul{
    height: 3%;
}
*/

#searchbox{
    margin: 3% 2% 2% 4%;
}

img{
    max-height: 100%;
    max-width: 100%;
    display: inline-block;
    margin: 9% 0% 0% 8%;
}

#sharebuttons{
    margin: -5% 0% 0% 57%;
}


.icons{
    margin: -6.5% 0% 0% 60%;
}

.fa{
  padding: 16px;
  width: 48px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  display: inline-block;
}

.fa:hover{
    opacity: 0.8;
}
.fa-facebook {
  background: #3B5998;
  color: white;
}
.fa-twitter {
  background: #55ACEE;
  color: white;
}
.fa-linkedin {
  background: #007bb5;
  color: white;
}
.fa-google {
  background: #dd4b39;
  color: white;
}

#items02{
    padding-left: 22%;
    font-size: 20px;
    margin-top: 1%;
    padding-bottom: 0.4%;
/*    margin-bottom: -1.5%;*/
}
.hero-image{
    background-image: url(capacitor-chip-circuit.jpg);
    width: 100%;
    height: 30%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
/*
.hero-text{
    text-align: center;
    position: absolute;
    font-family: 'Source Sans Pro', sans-serif;
    color: white;
    top: 35%;
    left: 42%;
}
*/
h1.aboutus{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
/*    margin-top: 15%;*/
    color: white;
    letter-spacing: 2px;
    padding-top: 5%;
    font-size: 50px;
}
h1.aboutus span{
    font-weight: 300;
    color:white;
}

h4.ourInfo{
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    padding-left: 20%;
}
h4.storeInfo{
    text-transform: uppercase;
    font-weight: bolder;
    color: white;
    padding-left: 5%;
}
footer{
    background-color: black;
    color: white;
}
h1.aboutroboexpress{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
/*    margin-top: 15%;*/
    color: black;
    letter-spacing: 2px;
    
}
h1.aboutroboexpress span{
    font-weight: 300;
}
h1.ourteammembers{
    text-transform: uppercase;
    font-weight: bolder;
    text-align: center;
/*    margin-top: 15%;*/
    color: black;
    letter-spacing: 2px;
}
h1.ourteammembers span{
    font-weight: 300;
}


/*style="font-weight: bold;font-family: 'Source Sans Pro', sans-serif;font-size: 50px;text-align: center;position: absolute;font-family: 'Source Sans Pro', sans-serif;color: white;top: 35%;left: 42%;"*/
